@import '../variables';
@import '../mixins';

.kitchen-sink {
  .responsive-box {
    background-color: $honeydew;
    padding: 1.5rem;
    text-align: center;
    border: 2px dashed $oxfordBlue;
    margin-bottom: 2rem;

    @include mobile {
      background-color: $white;
      border-color: $tropicalIndigo;
    }

    @include desktop {
      background-color: $honeydew;
      border-color: $oxfordBlue;
    }
  }
  .color-palette {
    .box {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .kitchen-layout {
    
  }
}
