.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include desktop {
    max-width: 720px;
  }

  @include desktop {
    max-width: 960px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 1rem;
  width: 100%;

  @include desktop {
    width: 50%;
  }
}

.box {
  padding: 2rem;
}
