.heading--s {
  font-size: 1.25rem;
  font-weight: 600;
}

.heading {
  font-size: 1.75rem;
  font-weight: 700;
  @include mobile {
    font-size: 1.5rem;
  }
}

.heading--l {
  font-size: 2.25rem;
  font-weight: 700;
  @include mobile {
    font-size: 1.75rem;
  }
}

.heading--xl {
  font-size: 3.25rem;
  @include mobile {
    font-size: 2.25rem;
  }
  font-weight: 800;
}

.subheading--s {
  @include mobile {
    font-size: 1rem;
  }
  font-size: 1rem;
  font-weight: 500;
}

.subheading {
  font-size: 1.25rem;
  font-weight: 600;
}

.subheading--l {
  font-size: 1.5rem;
  font-weight: 600;
}

.eyebrow {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
}

.body--xs {
  font-size: 0.75rem;
}

.body--s {
  font-size: 0.875rem;
}

.body {
  font-size: 1rem;
}

.body--l {
  font-size: 1.125rem;
}

.body--xl {
  font-size: 1.25rem;
}
