@import './variables';
@import './mixins';
@import './components/typography';
@import './components/typography';
@import './components/layout';
@import './components/colors';
@import './components/button';

html, body {
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: #111;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline 1px solid $coquelicot;
  color: $coquelicot;
}

* {
  box-sizing: border-box;
}